

$color-primary: #084063;
$color-primary-light: #085076;

$color-secondary: #C07D53;
$color-secondary-light: #DC924D;


$color-accent-blue: #EBF3F8;
$color-accent-orange: #FDF5EA;

$color_links_header_footer: #44280f;
$color_links_hover: #a75a15;
$color_links_visited: rgb(97, 97, 97);


$color_project_bg:#c2cfbe;


