
main {

    .landingPage {
        text-align: center;
        
        padding: 2% 0;
        h1 {
            color: white;
            margin:0 1rem;
        } 
        p {
            color: white;
        }
    }

    .feature-wrapper {
        font-size: 1rem;
    }

    h2 {
        font-weight: $medium-weight;
        color: $color-primary-light;
        span {
            color: $color-secondary-light;
            font-weight: $bold-weight;
        }
    }

    @media screen and (min-width: 750px) {
        h2 {
            font-size: 2.25rem;
            span {
                font-size: 3rem;
            }
        }

        .feature-wrapper {
            font-size: 1.25rem;
        }
    }

    section {
        max-width: 1440px;
        margin: 0 auto;
        padding: 3.5% 3.5% 0 3.5%;
    }

    .heroWrapper {
        background-image: url("../../Photos/background-book3.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: center;
    }

    .featureOne {
        @include respond(large) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 2rem;
            
            .feature-wrapper {
                padding: 3rem;
            }
            
            img {
                max-width: 500px;
            }
        }  
    }

    .sectionTwoWrapper {
        background-color: $color-accent-orange;
    }
    
    .featureTwo {
        @include respond(large) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 2rem;

            .feature-wrapper {
                padding: 3rem;
                grid-column: 2/-1;
                grid-row: 1/2;
                
            }
            img {
                grid-column: 1/-1;
                grid-row: 1/2;
                max-width: 500px;
            }
        }
    }

    .featureThree {
        h2 {
            padding-right: 5rem;
        }
        @include respond(large) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 2rem;
            
            .feature-wrapper {
                padding: 3rem;
            }
            img {
                max-width: 500px;
            }
        }
    }

    .comingSoonWrapper {
        background-image: url('/Photos/merged.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        
        .comingSoon {
            text-align: center;
            padding: 4rem 1.25rem;
            
            p, h1 {
                color: white;
            }

            .middleComponent {
                margin: 1rem auto 1.5rem auto;
            }

            .t1 {
                text-transform: uppercase;
                font-size: 1rem;
                font-weight: 700;
                margin: 0;
            }

            .t2 {
                font-size: 1.25rem;
                font-weight: 500;
                margin: 0;
            }

            .t3 {
                text-transform: capitalize;
                font-size: 1.5rem;
                font-weight: 700;
                margin: 0;
            }

            .t4 {
                font-size: 1rem;
                font-weight: 400;
                margin: 0.5rem auto;
            }
        }

        @media screen and (min-width: 750px) {
            .comingSoon {
                padding: 10rem 0;

                .middleComponent {
                    margin: 1.5rem auto 5rem auto;
                    max-width: 550px;
                }

                .t1 {
                    font-family: $font-sans;
                    text-transform: uppercase;
                    font-size: 1.5rem;
                    font-weight: 800;
                    margin: 0;
                }
    
                .t2 {
                    font-family: $font-serif;
                    font-size: 2.25rem;
                    font-weight: 500;
                    line-height: 3rem;
                    margin: 0;
                }
    
                .t3 {
                    font-family: $font-serif;
                    text-transform: capitalize;
                    font-size: 3rem;
                    font-weight: 700;
                    margin: 0 auto;
                }
    
                .t4 {
                    font-family: $font-sans;
                    font-size: 1.5rem;
                    font-weight: 400;
                    margin: 0.5rem auto;
                }
            }
        }
    }

    .teamSectionWrapper {
        background-color: $color-accent-blue;

        .teamSection {
            text-align: center;
            padding-bottom: 4rem;
            max-width: 1440px;

            h1 {
                font-size: 1.5rem;
                color: $color-primary-light;
                margin-bottom: 1.5rem;
            }   

            .teamDescription p {
                line-height: 1.5rem;
                text-align: left;
                font-size: 1;
                font-weight: 400;
                font-family: $font_sans;
                max-width: 960px;
                margin: 0 auto 2rem auto;

                @media screen and (min-width: 750px) {
                    font-size: 1.25rem;
                    line-height: 2rem;
                }
            }

            .teamContainer {
                display: grid;
                gap: 32px;
                grid-template-columns: 1fr 1fr;
                margin: 0 auto;
                max-width: 600px;
                
                .teamMember {
                    max-width: 240px;
                    background-color: $color-white;
                    padding: 1rem;
                    margin: 0 auto;
                    border-radius: 20px;
                    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
                    
                    .card {
                        position: relative;
                        display: inline-block;
                    }

                    .card .img-bot {
                        visibility: visible;
                        opacity: 100%;
                        transition: visibility 0.3s, opacity 0.3s linear;
                    }
                    .card .img-top {
                        visibility: hidden;
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: 99;
                        transition: visibility 0.3s, opacity 0.3s linear;
                        opacity: 0%;
                    }
                    .card:hover .img-top {
                        visibility: visible;
                        opacity: 100%;
                    }
                    
                    .card:hover .img-bot {
                        visibility: hidden;
                        opacity: 0%;
                    }

                    img {
                        border-radius: 10px;
                    }

                    h3, .teamPosition, .teamSocial {
                        text-align: left;
                        font-weight: 700;
                    }

                    .teamPosition {
                        font-family: $font-sans;
                    }

                    h3 {
                        font-size: 1rem;
                        color: $color-primary;
                        margin: 0;
                    }
                    
                    a {
                        color: black;
                    }

                    a:hover i {
                        transition: transform 0.2s linear;
                        transform: rotate(-10deg);
                    }

                    @media screen and (min-width: 750px) {
                        h3 {
                            font-size: 1.5rem;
                        }

                        .teamPosition {
                            font-size: 1.25rem;
                        }
                    }

                    .teamPosition {
                        color: $color-secondary-light;
                    }

                    .teamSocial {
                        font-size: 1.5rem;

                        .fa-linkedin {
                            color: rgb(5,120,203);
                        }
                    }
                }
            }
        }

        @media screen and (min-width: 750px) {

            .teamSection {

                h1 {
                    font-size: 2.5rem;
                    margin-bottom: 2rem;
                }
                .teamContainer {
                    margin: 0 auto;
                    max-width: 1000px;
                    grid-template-columns: 1fr 1fr 1fr;
                    padding-bottom: 4rem;
                }
            }
        }
    }

    
    @include respond(medium) {
        .feature-wrapper {
            padding: 3rem;
        }
    }
    
}