header {
    background-color: $color-accent-blue;
    .topNavigation {
        text-align: center;
        .bookshelfBackground {
            background-image: url("../../Photos/background-book1.png");
            background-repeat: no-repeat;
            background-size: 1440px 720px;
            background-position-x: center;

            .bookBackground {
                background-image: url("../../Photos/background-book2.png");
                background-size: cover;
                background-repeat: no-repeat;
                background-position-x: center;
                background-position-y: 200px;

                img {
                    margin-top: 6rem;
                    margin-bottom: 10rem;
                    max-width: 271px;
                }   

                @include respond(medium) {
                    img {
                        max-width: 527px;
                    }
                }
            }

            @media screen and (min-width: 750px) {
                .bookBackground {
                    background-position-y: 300px;
                }
            }

            @media screen and (min-width: 950px) {
                .bookBackground {
                    background-position-y: 250px;
                }
            }

            @media screen and (min-width: 1200px) {
                .bookBackground {
                    background-position-y: 200px;

                    img {
                        margin-bottom: 12rem;
                    }
                }
            }

            @media screen and (min-width: 1700px) {
                .bookBackground {
                    background-position-y: 150px;

                    img {
                        margin-bottom: 14rem;
                    }
                }
            }

            @media screen and (min-width: 1900px) {
                .bookBackground {
                    background-position-y: 100px;

                    img {
                        margin-bottom: 16rem;
                    }
                }
            }

            @media screen and (min-width: 2200px) {
                .bookBackground {
                    background-position-y: 150px;

                    img {
                        margin-bottom: 18rem;
                    }
                }
            }

            @media screen and (min-width: 2650px) {
                .bookBackground {
                    background-position-y: 120px;

                    img {
                        margin-bottom: 20rem;
                    }
                }
            }



            @media screen and (min-width: 3000px) {
                .bookBackground {
                    background-position-y: 120px;

                    img {
                        margin-top: 15rem;
                        margin-bottom: 22rem;
                    }
                }
            }

            @media screen and (min-width: 3440px) {
                .bookBackground {
                    background-position-y: 120px;

                    img {
                        margin-top: 15rem;
                        margin-bottom: 22rem;
                    }
                }
            }
        }   
    }   
}

//nav=================

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
li a {
    text-decoration: none;
}

// FOOTER===================

footer {
    padding: 3.5% 3.5% 0 3.5%;
    max-width: 1440px;
    margin: 0 auto;
    background-image: url("../../Photos/BG_lets\ connect.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    

    @include respond(large) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .contactPage {
        h2 {
            font-size: 1.5rem;
            margin-bottom: 0;
        }

        p {
            margin-top: 0.5rem;
            font-size: 1rem;
        }

        @media screen and (min-width: 750px) {
            h2 {
                font-size: 3rem;
                
            }
    
            p {
                margin-top: 0;
                font-size: 1.25rem;
            }   
        }
    }

    .comingSoonApp {
        padding: 10%;

        h2 {
            color: $color-primary-light;
            text-align:center;
        }

        img[alt~="EverypageLogo"] {
            display: none;
        }

        @include respond(medium) {
            img[alt~="EverypageLogo"] {
                display: unset;
                max-width: 94px;
                @include centerContents
            }
        }
        .comingsoon-wrapper {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            justify-content: center;

            p {
                font-weight: 800;
                text-transform: uppercase;
                color: $color-primary-light;
                padding-right: 1rem;
            }
        }

        @media screen and (min-width: 750px) {
            h2 {
                font-size: 2.5rem;
            }

            p {
                font-size: 1.5rem;
            }
        }
    }

    div:nth-of-type(2) {
        text-align: center;
        font-size: 0.8em;
        grid-column: 2/-1;
        color: $color-primary-light;

        @include respond(large) {
            text-align: right;
        }
    }
}





