
.navWrapper {
    position: fixed;
    width: 100%;
    background-color: $color-white;
    z-index: 100;
}

.show {
    opacity: 100%;
    transition: opacity 0.2s linear;
}

.hide {
    opacity: 0%;
    transition: opacity 0.2s linear;
}

nav.menu-header-desk {

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 3.5%;
    font-family: $font_serif;

    .logo {
        margin: 0.2rem 0 0.5rem 0;
        font-weight: 500;
        font-size: 2rem;
        color: $color-title-light;

        b {
            font-weight: 700;
            color: $color-title-light;
        }
    }  

    ul {
        display: none;
    }

    .navMenuMobile {
        #topHeader {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            padding: 0 3.5%;

            i {
                font-size: 1.5rem;
                color: $color-primary;
            }
        }

        position: absolute;
        left: 0;
        top: 0;
        height: 46vh;
        width: 100%;
        background-color: $color-white;
        border-bottom: 1px $color-primary solid;

        ul {
            padding-top: 2rem;
            display: flex;
            flex-flow: column;
            align-items: flex-start;
            list-style-type: none;
            gap: 2rem;
            font-weight: 700;

            li {
                margin-left: 3.5%;
                color: $color-primary;

                a {
                    text-decoration: none;
                }
            }
        }
    }

    .hideNav {
        display: none;
    }

    #downloadProposal {
        padding: 0.5rem 1.5rem;
        border-radius: 5px;
        background-color: $color-primary;
        
        a {
            background-color: $color-primary;
            color: $color-white;
        }
    }

    .hamburger {
        display: block;
        justify-self: center;
        align-self: center;
        color: $color-primary-light;
        font-size: 1.5rem;
    }

    @media screen and (min-width: 750px) {

        padding: 0 3rem;

        ul {
            flex-flow: row wrap;
            gap: 1rem;
        }
    }

    
    @include respond(medium) {
        max-width: 1440px;
        margin: 0 auto;

        .logo {
            font-size: 2.75rem;
        }  

        ul {
            list-style-type: none;
            display: flex;
            gap: 1rem;
            padding-left: 0;
            font-weight: 700;
    
            @include centerItems();
        
            a {
                text-decoration: none;
                color: $color-primary-light;
            }
            a:hover {
                color: $color-primary;
            }

            @media screen and (min-width: 900px){
                gap: 2rem;
            }

            @media screen and (min-width: 1000px){
                gap: 4rem;
            }
        }

        .hamburger {
            display: none;
        }
    }
  
    
    
}



